@charset "utf-8";
	.XMLID_352_
{
	background : #F78E36;
	background : rgba(247, 142, 54, 1);
	position : absolute ;
	left : 524px;
	top : 211px;
	width : 365px;
	height : 270px;
}
.XMLID_8_
{
	background-image : url(XMLID_8_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 8px;
	top : 591px;
	width : 267px;
	height : 490px;
}
.XMLID_3_
{
	background-image : url(XMLID_3_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 64px;
	top : 38px;
	width : 257px;
	height : 169px;
}
.XMLID_358_
{
	background : #8E1842;
	background : rgba(142, 24, 66, 1);
	position : absolute ;
	left : 1274px;
	top : 435px;
	width : 268px;
	height : 387px;
}
.XMLID_355_
{
	background : #EA485A;
	background : rgba(234, 72, 90, 1);
	position : absolute ;
	left : 963px;
	top : 207px;
	width : 365px;
	height : 303px;
}
.XMLID_1_
{
	background : #F7E8D0;
	background : rgba(247, 232, 208, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 0px;
	top : 0px;
	width : 1920px;
	height : 1080px;
}
.XMLID_18_
{
	background-image : url(XMLID_18_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 706px;
	top : 441px;
	width : 549px;
	height : 523px;
}
.XMLID_349_
{
	background : #FFC95E;
	background : rgba(255, 201, 94, 1);
	position : absolute ;
	left : 386px;
	top : 434px;
	width : 267px;
	height : 390px;
}
.Styledecaractresnormal1
{
	font-family : Agency FB;
	font-weight : bold;
	font-size : 79px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.Styledecaractresnormal
{
	font-family : Agency FB;
	font-weight : bold;
	font-size : 141px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
